* {
  box-sizing: border-box;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  width: 85px;
}

.card {
  background-color: purple;
  text-align: center;
  width: 125px;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
